@use 'src/modules/components/scss/vars' as *;
@use 'src/modules/components/scss/mixin' as *;

.cmp-datepicker {
  // z-index: 109;
  position: relative;

  & &__input--error:not(:disabled) {
    border-color: $color-red-400 !important;
    box-shadow: $error-focus-shadow !important;
  }

  & &__error {
    margin-top: 4px;
    color: $danger;

    font: {
      size: 14px;
    }
  }

  & &__input {
    height: $input-normal;
    padding: 0 16px;
    border: 1px solid $color-grey-100;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    width: 100%;

    &--size-small {
      height: $input-small;
    }
  }
}

.react-datepicker-popper {
  z-index: 9999 !important;
}